# Ignore SQL dumps with sensitive data
src/sql/*.sql

# Ignore local configuration files with passwords/API keys
data/config/alyra.properties

# IDE files
.idea/
*.iml
nbproject/private/
build/
out/
target/
classes/
dist/
nbdist/

# Unity specific ignores
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/*.log
**/*.txt
TestConnection.class
data/DataGame.class
